<!DOCTYPE html>
<html>
<head>
  <title>Antonio&Filhos - Comércio e Confecção</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div clas="wrap">
    <% if (@current_user.present?) then %>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
        <a class="navbar-brand" href="/user"><img class="brand" src="/assets/antonioefilhos-logo-2.png"></a>
        <div class="container">
      		<div class="navbar-form navbar-right">
            <button type="submit" class="btn btn-success" onclick="location.href= '/logout' ">Sair</button>
          </div><!--/.navbar-collapse -->     
        </div> 
      </div><!--/.navbar --> 
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </div>
  <br />
  <footer class="footer">
    <div class="container">
      <p class="text-center dev"><img class="brand" src="/assets/folha-solucoes-logoo.png"></p>
    </div>
  </footer>
</body>
</html>
